.kredit_stringbox {
    margin-bottom: 1rem;
    background: var(--accent);
    color: var(--base);
    font-family: var(--display);
    font-size: 1.5rem;
    padding: 0.5em 1em;
    border-radius: var(--rounding);
    font-weight: 700;
    transition: background 0.2s var(--sleek);
}

.kredit_glide {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 600px;
    border: 2px dashed var(--accent);
    border-radius: var(--rounding);
    padding: 1rem;

    & .glide__track,
    .glide__slides {
        height: 100%;
    }
}

.glide__slide.kredit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--display);
    color: var(--base);
    background: var(--accent);
    height: 100%;
    border-radius: calc(var(--rounding) / 2);
    overflow: hidden;
    transform: scale(0.9);
    opacity: 0.8;
    transition:
        transform 0.3s var(--sleek),
        opacity 0.3s var(--sleek);

    &.glide__slide--active {
        transform: scale(1);
        opacity: 1;

        .ffpImg {
            transform: scale(1.1) !important;
            filter: brightness(0.8);
        }

        .ffpIco {
            transform: scale(1.5) !important;
            // color: var(--prim);
            font-variation-settings:
                "FILL" 0,
                "wght" 500,
                "GRAD" 100,
                "opsz" 48;
        }
    }

    & .ffpImageBox {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--accent);
        overflow: hidden;
        border-radius: calc(var(--rounding) / 2);

        & .ffpImg {
            width: 100%;
            height: 100%;
            object-fit: fill;
            transition:
                transform 1s var(--sleek),
                filter 0.3s var(--sleek);
        }
    }

    & .ffpIco {
        font-size: 10rem;
        color: var(--base);
        position: absolute;
        text-shadow: 0 0 20px rgba(var(--foreRGB), 0.5);
        font-variation-settings:
            "FILL" 1,
            "wght" 800,
            "GRAD" 100,
            "opsz" 48;
        transition:
            transform 1s var(--sleek),
            font-variation-settings 0.3s var(--sleek);
    }

    & .ffpStepLabel {
        font-size: 1.2rem;
        font-family: var(--content);
        color: var(--accent);
        background: var(--base);
        margin-top: 1rem;
        font-weight: bold;
        padding: 0 1em;
        border-radius: var(--rounding);
    }

    & .ffpHeading {
        font-size: 1.5rem;
        margin-top: 0.5em;
        font-weight: bold;
        text-align: center;
    }

    & .ffpTextBox {
        padding: 1em;
        text-align: center;
    }
}

.glide__bullets.kredit {
    padding-top: 2rem;
    --bulletSize: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    &:hover {

        .glide__bullet,
        .glide__bullet--active {
            height: calc(var(--bulletSize) * 1.2);
            width: calc(var(--bulletSize) * 3);
            transition:
                background 0.2s var(--sleek),
                opacity 0.2s var(--sleek),
                width 0.2s var(--sleek),
                height 0.2s var(--sleek);
            transition-delay: 50ms;
        }

        .glide__bullet--active {
            opacity: 0.8 !important;
            width: calc(var(--bulletSize)) !important;
        }

        .glide__bullet .kreditBulletIndex {
            transition-delay: 50ms;
            opacity: 1 !important;
            font-size: 1.5rem;
        }
    }

    & .glide__bullet {
        display: grid;
        place-items: center;
        border: none;
        width: var(--bulletSize);
        height: calc(var(--bulletSize) / 2);
        border-radius: var(--rounding);
        background: var(--accent);
        opacity: 0.5;
        cursor: pointer;
        transition:
            background 0.2s var(--sleek),
            opacity 0.2s var(--sleek),
            width 0.2s var(--sleek),
            height 0.2s var(--sleek);

        & .kreditBulletIndex {
            font-size: 1rem;
            color: var(--base);
            font-weight: bold;
            opacity: 0;
        }

        &.glide__bullet--active {
            width: calc(var(--bulletSize) * 2);
            background: var(--accent);
            opacity: 1;

            .kreditBulletIndex {
                font-size: 1rem;
            }
        }

        &:hover:not(.glide__bullet--active) {
            background: var(--accent);
            opacity: 1;
        }
    }
}

.glide__arrows.kredit {
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1;

    & .glide__arrow {
        height: 100%;
        width: 40%;
        border: none;
        padding: 0.5em 1em;
        cursor: pointer;
        background: none;
    }
}